body {
    margin: 0;
    padding: 0;
  }
  
  #navbar {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px;
    background-color: white;
  }
  
  #navbar div {
    font-size: 25px;
    padding: 8px 20px;
  }
  
  #search_input {
    height: 30px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
  }